flask
flask-cors
gunicorn
chromadb
tiktoken
mne
PyWavelets
tensorflow
Pillow
scikit-learn
matplotlib

# --- LLM & RAG ---
langchain
langchain-community
sentence-transformers
openai
ollama
python-dotenv


# --- EEG Processing ---
numpy
scipy
